/* COMMON
   ======================= */
.wrapper {
    width: 80%;
    margin: auto;
}

h2 {
    color: white;
}

.user-form,
.ticket-info {
    background-color: white;
    padding: 20px;
}

.pt-20 {
    padding-top: 20px;
}

/* ======================= */

/* MACRO LAYOUT
   ======================= */
body {
    min-width: 320px;
    background-color: #b91450;
}

/* ======================= */

/* MICRO LAYOUT
   ======================= */
.user-form {
    border-radius: 15px;
    box-shadow: 2px 2px 1px 1px #800e37;
}

label {
    color: #be245c;
    padding-bottom: 15px;
}

input {
    text-align: center;
}

input,
select {
    font-size: 100%;
    border: 1px solid #d36c91;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
}

button {
    background-color: #cccccc;
    color: #b91450;
    font-size: 130%;
    padding: 5px;
    border: 2px solid grey;
}

.nada {
    display: none;
}

table {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 100%;
    vertical-align: middle;
    text-align: left;
}

th,
td {
    padding: 10px;
}

.name-field {
    background-color: gray;
}

#user {
    font-weight: bolder;
    padding-top: 0;
    vertical-align: top;
}

#price::after {
    content: "$";
}


button:hover {
    border: 2px solid #9c609d;
}

/* ======================= */


@media screen and (max-width: 800px) {
    .fields {
        flex-wrap: wrap;
    }

    .fields>.flexer {
        width: 80%;
    }

    table {
        display: flex;
    }

    .name-field {
        height: 50px;
    }

    th,
    td {
        display: flex;
        flex-direction: column;
    }
}